{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profile/css/profile1.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row pb-5">
            <div class="col text-center mt-5">
                <h2 class="logo-font text-primary">My Profile</h2>
            </div>
        </div>        
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card border-success my-1" >
                    <div class="card-header">Default Delivery Information</div>
                    <div class="card-body">
                        <p class="text-primary">{{ profile }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-6">
                <div class="card border-success my-1" >
                    <div class="card-header">Order History</div>
                        <div class="card-body">
                            Order 1
                            order 2
                            order 3
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}