{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profile/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row pb-5">
            <div class="col text-center mt-5">
                <h2 class="logo-font text-primary">My Profile</h2>
            </div>
        </div>        
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <div class="card border-success my-1" >
                    <div class="card-header">Default Delivery Information</div>
                    <div class="card-body">
                        <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-primary float-right">Update Information</button>
                        </form>
                    </div>
                </div>
            </div>        
            <div class="col-sm-12 col-lg-8">
                <div class="card border-success my-1 ">
                    <div class="card-header">Order History</div>
                    <div class="card-body">
                        <div class="table order-history">
                            <table class="table table-bordered ">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Order No.</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Items</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">11231231</th>
                                        <td>01/08/2020</td>
                                        <td>Nutriverse Product / Subscription / Qty / Colour
                                        <br><br><br><br><br><br><br><br>New line here
                                        <br><br><br><br>another line to test the 
                                        <br><br><br><br>scrolling on the table
                                        <br><br><br><br><br><br><br><br>more here
                                        <br><br><br><br>another line to test more 
                                        <br><br><br><br>scrolling on the table
                                        </td>
                                        <td>€42.99</td>
                                    </tr>                                        
                                </tbody>
                            </table>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}