{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row pb-5">
            <div class="col text-center mt-5">
                <h2 class="logo-font text-primary">Shopping Basket</h2>
            </div>
        </div>
    </div>

    {% if basket_items %}
        {{basket_items}}
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col">
                    <table class="table table-responsive table-light">
                        <thead>
                            <tr>
                            <th scope="col">Product Details</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        {% for item in basket_items %}
                        <tbody>
                            <tr>
                                <td class="p-3 w-25" rowspan="2">
                                    {% include "basket/product-image.html" %}
                                </td>
                                <td class="py-3" colspan="2">
                                    <strong>{{ item.product.name }}</strong>
                                    <p class="my-0 small text-muted">Code: {{item.product.code}}</p>                                    
                                </td>
                                
                            </tr>
                            <tr>
                                <td>
                                    {% include "basket/product-info.html" %}
                                </td>
                                <td class="py-3 w-25">
                                    {% include "basket/quantity-form.html" %}
                                </td>
                                <td class="py-3">
                                    {% for p in item.prod_sub  %}
                                    <p class="my-0">€{{ p.price | calc_subtotal:item.quantity }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    {% include "basket/basket-total.html" %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    {% include "basket/checkout-buttons.html" %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
    {% else %}     
        <div class="container-fluid bg-white mt-0 pt-0 pb-3">
            <div class="row">
                <div class="col">
                    <p class="lead mb-5 text-dark">Your basket is empty.</p>
                    <button type="button" class="btn btn-secondary btn-sm-smaller">
                        <a href="{% url 'products'%}" class="text-white "><i class="fas fa-caret-left"></i> Keep Shopping</a>
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
    <p> NEW TEST LAYOUT </p>
    <div class="container-fluid">
        <div class="row">
            <div class="col" colspan="2">Product Details</div>
            <div class="col"></div>
            <div class="col">Total</div>
        </div>
        <div class="row">
            <div class="col" rowspan="2">Image</div>
            <div class="col" colspan="2">Product Name, long title</div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">Product-info</div>
            <div class="col">Quantity</div>
            <div class="col">Total €</div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
         var form = $(this).closest('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item-subs').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var subs = $(this).data('product_subs');
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_subs': subs};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

    // Remove item and reload on click
    $('.remove-item-size').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}