<form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="col"><a class="update-link text-success"><i class="fas fa-sync-alt"></i></a></div>
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-sm rounded-0" 
                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input col-sm-4 col-md-3" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.item_id }}"
                id="id_qty_{{ item.item_id }}">
            <div class="input-group-append">
                <button class="increment-qty btn btn-sm rounded-0"
                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
            {% for p in item.prod_sub %}
                
                
                {% if item.product.subscription == True %}
                    <input type="hidden" name="product_subs" value="{{ p.subscription_type.id }}">
                {% endif %}
                {% if item.product.has_sizes %}
                    <div class="col">
                        <a class="remove-item-size text-danger float-right" id="remove_{{ item.item_id }}" 
                        data-product_size="{{ p.size.id }}"><i class="far fa-trash-alt"></i></a>
                    </div>
                    <input type="hidden" name="product_size" value="{{ p.size.id }}">
                {% else %}
                    <div class="col">
                        <a class="remove-item-subs text-danger float-right" id="remove_{{ item.item_id }}" 
                        data-product_subs="{{ p.subscription_type.id }}"><i class="far fa-trash-alt"></i></a>
                    </div>
                {% endif %}                
            {% endfor %}
        </div>
    </div>
</form>