{% extends "base.html" %}
{% load static %}



{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container-fluid mt-5 ml-2">
        <div class="col-12 text-center">
                <h5>{{ discussion.topic }}</h5>
                <br>
            </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2">
                <div class="table-responsive">
                    <table id="discussions_table" class="table table-sm">
                        <thead>
                            <tr class="table-dark">
                                <th>{{ discussion.get_name }}</th>
                                <th>{{ discussion.created|date:'d-m-yy H:m' }}</th>
                                <th># 1</th>
                            </tr>
                        </thead>
                        <tr>
                            <td></td>
                            <td colspan="2">{{ discussion.disc_topic_text|linebreaks }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row pb-5">
            {% if request.user %}
                <div class="col-sm-12 col-lg-10 text-right">
                    <a class="btn btn-success btn-sm rounded-1" href="{% url 'add_comment' discussion.id %}">Add Comment</a>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-8 offset-md-1 offset-lg-2">
                {% if disc_comments %}
                    {% for d_comment in disc_comments %}
                        <div class="table-responsive">
                            <table id="comments_table" class="table table-sm">
                                <thead>
                                    <tr class="table-dark">
                                        <th>{{ d_comment.get_name }}</th>
                                        <th>{{ d_comment.created|date:'d-m-yy H:m' }}</th>
                                        <th># {{ forloop.counter|add:1 }}</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td></td>
                                    <td colspan="2">{{ d_comment.comment|linebreaks }}</td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="mt-5">There are no comments for this topic</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}