html {
    height: 100%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#logo-image {
  background: url('/media/nutriverse_logo.jpg');
  height: 7rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.tab-container{
    /*min-height: 14em;*/
    padding-bottom: 2em;
}

.carousel-w-100 {
  width: 90% !important;
  height: 30%;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 4rem;
    left: 15%;
    z-index: 10;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    color: #999;
    text-align: center;
}

a.subcat-badge > span.badge:hover {
    background: rgb(69, 156, 214) !important;
    color: rgb(1, 25, 41) !important;
}

#subscription_type_select,
#sizes_select {
    width: 15em;
}

.btn-font-sm{
    font-size: 1em; 
}

.btt-button {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.btt-link,
.update-link,
.remove-item-subs,
.remove-item-size {
    cursor: pointer;
}

.product-card {
    min-height: 25rem;
}

.review-title {
    font-size: 1rem !important;
    font-weight: bold;
}

.message-container {
    position: fixed;
    top: 5em;
    right: 0.9em;
    z-index: 99999999999;
    border: #000;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 0.3em;
}

.current-basket-items-wrapper{
    height: 10em;
    overflow-x: hidden;
    overflow-y: auto;
}

.table-responsive {
    overflow-x: auto;
}

#add-product-form, 
#add-product-subs-form,
#edit-product-form .form-control {
    color: rgb(26, 39, 53);
    border: 1px solid #2C3E50;
}

.gray-bkg {
    background: gray;
}

.maintenance-extra {
    max-height: 37.5rem;
}

/* Product Form  - Image file buttons*/

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #3498DB;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #3498DB;
    border-color: #3498DB;
    border-radius: 0;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Medium and down */
@media (max-width: 1199px) {
    .btn-sm-smaller {
        font-size: 0.8rem;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 7em;
    }

    .product-card {
        min-height: 25.9rem;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 7em;
    }

    .product-card {
        min-height: 26.4rem;
    }

    .logo-font {
        font-size: 1.5rem;
    }

    .nav-link {
        padding: 0.5rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 0.75rem;
    }
}