<div class="collapse navbar-collapse navbar-dark bg-primary" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=subcategory&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="fitness-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fitness Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fitness-link">
                <a href="{% url 'products' %}?subcategory=beginners" class="dropdown-item">Beginners</a>
                <a href="{% url 'products' %}?subcategory=intermediate" class="dropdown-item">Intermediate</a>
                <a href="{% url 'products' %}?subcategory=advanced" class="dropdown-item">Advanced</a>
                <a href="{% url 'products' %}?subcategory=seniors" class="dropdown-item">Seniors</a>
                <a href="{% url 'products' %}?subcategory=children" class="dropdown-item">Children</a>
                <a href="{% url 'products' %}?subcategory=online" class="dropdown-item">Online Classes</a>
                <a href="{% url 'products' %}?subcategory=beginners,intermediate,advanced,seniors,children,online" class="dropdown-item">All Fitness Plans</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="nutrition-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nutrition-link">
                <a href="{% url 'products' %}?subcategory=general_plans" class="dropdown-item">General Nutrition Plans</a>
                <a href="{% url 'products' %}?subcategory=personalised_plans" class="dropdown-item">Personalised Plans</a>
                <a href="{% url 'products' %}?subcategory=detox" class="dropdown-item">Detox</a>
                <a href="{% url 'products' %}?subcategory=general_plans,personalised_plans,detox" class="dropdown-item">All Nutrition Plans</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?subcategory=clothing" class="dropdown-item">Clothing</a>
                <a href="{% url 'products' %}?subcategory=resistance" class="dropdown-item">Resistance Bands</a>
                <a href="{% url 'products' %}?subcategory=weights" class="dropdown-item">Weights</a>
                <a href="{% url 'products' %}?subcategory=misc" class="dropdown-item">Miscellaneous</a>
                <a href="{% url 'products' %}?subcategory=clothing,resistance,weights,misc" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link " href="#" id="community-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Community
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="community-link">
                <a href="{% url 'discussions_list' %}" class="dropdown-item">All Community Area</a>
            </div>
        </li>
    </ul>
</div>