<div class="collapse navbar-collapse navbar-dark bg-dark" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="fitness-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fitness Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fitness-link">
                <a href="" class="dropdown-item">Beginner</a>
                <a href="" class="dropdown-item">Intermediate</a>
                <a href="" class="dropdown-item">Pro</a>
                <a href="" class="dropdown-item">Seniors</a>
                <a href="" class="dropdown-item">Children</a>
                <a href="" class="dropdown-item">All Fitness Plans</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="nutrition-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nutrition-link">
                <a href="" class="dropdown-item">Weight Loss</a>
                <a href="" class="dropdown-item">Fat Loss</a>
                <a href="" class="dropdown-item">Toning</a>
                <a href="" class="dropdown-item">Detox</a>
                <a href="" class="dropdown-item">All Nutrition Plans</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link " href="#" id="community-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Community
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="community-link">
                <a href="" class="dropdown-item">Blogs &amp; Discussion</a>
                <a href="" class="dropdown-item">Q&amp;A</a>
                <a href="" class="dropdown-item">Challanges</a>
                <a href="" class="dropdown-item">All Community</a>
            </div>
        </li>
    </ul>
</div>