{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h2 class="logo-font mb-4">Product Management</h2>
                <h4 class="logo-font text-primary">Edit Product</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 mb-5">
                <form method="POST" id="edit-product-form" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    <div class="card border-success py-2 px-2 mb-3">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name != 'image' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="text-right">
                        <a class="btn btn-secondary rounded-1" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-primary rounded-1" type="submit">Update Product</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-6">
                <div class="card border-success py-3 px-2 mb-3 h-100 maintenance-extra">
                    <div>
                        <h5 class="text-center">Maintaining Product Subscriptions</h5>
                        <hr class="w-50 center">
                        <p>Select this option to maintain the list of Product Subscriptions, 
                            this option is to set the price and other options related to a particular subscription for a product</p>
                        <div class="text-center">
                            <a class="btn btn-outline-primary rounded-1 center" href="{% url 'add_product_subs' %}">Product Subscriptions</a>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h5 class="text-center">Linking Products and Subscriptions</h5>
                        <hr class="w-50 center">
                        <p>Select this option to create a link between Products and Product Subscriptions / Sizes, 
                            this will a subscription or size to be selected for a product</p>
                        <div class="text-center">
                            <a class="btn btn-outline-success rounded-1" href="{% url 'join_product_and_subs' %}">Link Product / Subscriptions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}