{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row pb-5">
            <div class="col text-center mt-5">
                <h2 class="logo-font mb-4">Product Management</h2>
                <h4 class="logo-font text-primary">Edit Product Subscription</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <form method="POST" id="edit-product-subs-form" action="{% url 'edit_product_subs' product_subs.id %}" class="form mb-2" enctype="multipart/form-data">
                    <div class="card border-success py-2 px-2 mb-1">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field | as_crispy_field }}                            
                        {% endfor %}
                    </div>
                </form>
                <div class="text-right">
                    <a class="btn btn-secondary rounded-1" href="{% url 'prod_subs_list' %}">Cancel</a>
                    <button class="btn btn-primary rounded-1" type="submit">Update Product Subscription</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}