{% extends "base.html" %}
{% load static %}



{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ product.name }}</p>
                    <hr>
                    {% include "products/subscription_sizes_form.html" %}
                    <form class="form-inline add-basket" id="add-basket" >
                    {% csrf_token %}
                        <fieldset>                            
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-75">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input text-primary" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>                                        
                                    </div>
                                </div>                                
                            </div>
                            <div class="col text-danger" id="qty-available-error"></div>
                            <input type="hidden" id="purchase_subs_size_id" name="purchase_subs_size_id" value="{{ selected_subs_size }}">
                            <input type="hidden" id="has_sizes_val" value="{{ product.has_sizes }}">
                            <p><small class="text-warning"><i class="fas fa-tags mr-1"></i>{{ product.subcategory.name }}</small></p>
                            
                            {% include "products/star-ratings.html" %}
                            {% if request.user.is_superuser %}
                                <div class="text-right">
                                    <small>
                                        <a class="text-info" href="{% url 'edit_product' product.id %}">Edit</a> | 
                                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                    </small>
                                </div>
                            {% endif %}
                        </fieldset>                            
                    
                        <fieldset>
                            <div class="row mt-3">
                                <div class="col text-center">
                                    <a href="{% url 'products' %}" class="btn rounded-1 btn-lg btn-secondary btn-font-sm">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                </div>
                                
                                <div class="col text-center">
                                    <a class="submit-button btn btn-primary btn-fon-sm my-1 py-3" id="add_{{ product.id }}" >
                                        <span class="text-uppercase text-white">Add to Basket</span>
                                    </a>
                                </div>
                                <input type="hidden" id="redirect_url" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </fieldset>                            
                    </form>
                </div>
            </div>
        </div>
        <!--Product Description and Reviews Tabs-->
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-8 offset-md-1 offset-lg-2">
                <div class=" container-fluid">
                    <ul class="nav nav-tabs mt-5">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#description">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#reviews">Reviews</a>
                        </li>
                    </ul>
                    <div id="Descr_Review_Tab" class="tab-content mt-3 tab-container">
                        <div class="tab-pane fade show active" id="description">
                            <p>{{ product.description }}</p>
                        </div>
                        <div class="tab-pane fade" id="reviews">
                            <p>Read the reviews for this product from users below:</p><br>
                            <div class="row pb-5">
                                {% if request.user.is_authenticated %}
                                    <div class="col-sm-12 text-right">
                                        <a class="btn btn-success btn-sm rounded-1" href="{% url 'add_review' product.id %}">Add Review</a>
                                    </div>
                                {% endif %}
                            </div>
                            {% for review in reviews %}
                                <br>
                                <table class="table table-bordered">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Rating</th>
                                            <th scope="col">User</th>
                                            <th scope="col">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="stars" style="--rating: {{ review.user_rating }};" 
                                                    aria-label="Rating of this product is {{ review.user_rating }} out of 5.">
                                                </div>
                                            </td>
                                            <td>{{ review.user_profile.user.get_full_name }}</td>
                                            <td>{{ review.created|date:'d-m-yy' }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><p class="review-title">{{ review.title }}</p></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Comment:</th>
                                            <td colspan="2">{{ review.comment }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
    
    <script>
        var csrfToken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'js/subs_quantity_inputs.js' %}"></script>
    
{% endblock %}