<form class="form update-sub-size-form" method="POST" action="{% url 'product_detail' product.id %}">
    {% csrf_token %}
    <div class="form-group">
        {% if product.subscription == True %}
            <select class="form-control mr-3 align-top" id="subscription_type_select" name="subscription" onchange="updateSubscription(this)">
                <option disabled selected>Select Subscription Type</option>
                {% for prod_sub in product_subscription %}
                    <option value="{{ prod_sub.subscription_type.id }}">{{ prod_sub.subscription_type.name }}</option>
                {% endfor %}
            </select>
        {% elif product.has_sizes == True %} 
            <select class="form-control mr-3 align-top" id="sizes_select" name="size"  onchange="updateSubscription(this)">
                <option disabled selected>Select Size</option>
                {% for prod_sub in product_subscription %}
                    <option value="{{ prod_sub.size.id }}">{{ prod_sub.size.id }} | {{ prod_sub.size.name }}</option>
                {% endfor %}
            </select>  
        {% endif %}   
        <input type="hidden" id="selected_subs_size_id" name="selected_subs_size_id" >
        {% if selected_subs_size != 'None' %}
        <!--div class="col-12"-->
            {% for sel_prod_sub in sel_product_subscription %}
                {% if product.subscription == True %}
                    <p class="mt-3"><strong>Selected Subscription:</strong></p>
                {% elif product.has_sizes == True %}
                    <p class="mt-3"><strong>Selected Size:</strong></p>
                {% endif %}
                <hr>
                {% if product.subscription == True %}
                    <p>Subscription: {{ sel_prod_sub.subscription_type.name }}</p>
                {% elif product.has_sizes == True %}
                    <p>Size: {{ sel_prod_sub.size.name }}</p>
                {% endif %}
                <p>Price: {{ sel_prod_sub.price }}</p>
                <p>Available Stock: {{ sel_prod_sub.quantity_available }}</p>
                <input type="hidden" id="purchase_qty_available" name="purchase_qty_available" value="{{ sel_prod_sub.quantity_available }}">
                
            {% endfor %}            
        <!--/div-->
        {% endif %}
    </div>
</form>

{% if product.subscription == False and product.has_sizes == False %}
    {% for prod_sub in product_subscription %}
        <p>Price: {{ prod_sub.price }}</p>
        <p>Available Stock: {{ prod_sub.quantity_available }}</p>
    {% endfor %}
{% endif %}

{% if product.colour != 'none' %}
    <p>Colour: {{ product.colour }}</p>
{% endif %}

{% block postloadjs %}
    <script type="text/javascript">
        function updateSubscription(selectItem) {
            //Get the selected subscription value and populate it to the hidden input
            var sel_sub = selectItem.value;
            document.getElementById("selected_subs_size_id").value = sel_sub;
            //update the form with the selected subscription type details
            selectItem.form.submit();
        }
    </script> 
{% endblock %}