<form class="form update-sub-size-form" method="POST" action="{% url 'product_detail' product.id %}">
    {% csrf_token %}
    <div class="form-group">
        {% if product.subscription == True %}
            <select class="form-control mr-3 align-top text-primary" id="subscription_type_select" name="subscription" onchange="updateSubscription(this)">
                <option disabled selected>Select Subscription Type</option>
                {% for prod_sub in product_subscription %}
                    <option value="{{ prod_sub.subscription_type.id }}">{{ prod_sub.subscription_type.name }}</option>
                {% endfor %}
            </select>
        {% elif product.has_sizes == True %} 
            <select class="form-control mr-3 align-top" id="sizes_select" name="size"  onchange="updateSubscription(this)">
                <option disabled selected>Select Size</option>
                {% for prod_sub in product_subscription %}
                    <option value="{{ prod_sub.size.id }}">{{ prod_sub.size.name }}</option>
                {% endfor %}
            </select>  
        {% endif %}
        <p id="submit-error" class="text-danger"></p> 
        <input type="hidden" id="selected_subs_size_id" name="selected_subs_size_id" value="{{selected_subs_size}}" >
        <!--display placeholder labels for the scription / size fields before a selection is made-->
        {% if not sel_product_subscription  %}
            {% if product.subscription == True %}
                <p class="mt-3"><strong>Selected Subscription:</strong></p>
                <hr>
                <p><strong>Subscription:</strong> [None Selected]</p>
            {% elif product.has_sizes == True %}
                <p class="mt-3"><strong>Selected Size:</strong></p>
                <hr>
                <p><strong>Size:</strong> [N/A]</p>
            {% endif %}                        
            <p><strong>Price:</strong> €</p>
            <p><strong>Available Stock:</strong> </p>            
        {% endif %}
        
        {% if selected_subs_size != 'None' %}
        <!--div class="col-12"-->
            {% for sel_prod_sub in sel_product_subscription %}
                {% if product.subscription == True %}
                    <p class="mt-3"><strong>Selected Subscription:</strong></p>
                    <hr>
                    <p><strong>Subscription:</strong> {{ sel_prod_sub.subscription_type.name }}</p>                    
                {% elif product.has_sizes == True %}
                    <p class="mt-3"><strong>Selected Size:</strong></p>
                    <hr>
                    <p><strong>Size:</strong> {{ sel_prod_sub.size.name }}</p>
                {% endif %}
                                    
                <p><strong>Price:</strong> €{{ sel_prod_sub.price }}</p>
                <p><strong>Available Stock:</strong> {{ sel_prod_sub.quantity_available }}</p>
                <input type="hidden" id="purchase_qty_available" name="purchase_qty_available" value="{{ sel_prod_sub.quantity_available }}">
                
            {% endfor %}            
        <!--/div-->
        {% endif %}
    </div>
</form>

{% if product.colour != 'none' %}
    <p><strong>Colour:</strong> {{ product.colour.name }}</p>
{% endif %}

{% block postloadjs %}
    <script type="text/javascript">
        function updateSubscription(selectItem) {
            //Get the selected subscription value and populate it to the hidden input
            var sel_sub = selectItem.value;
            document.getElementById("selected_subs_size_id").value = sel_sub;
            //update the form with the selected subscription type details
            selectItem.form.submit();
        }
    </script> 
   
{% endblock %}