<div class="toast custom-toast rounded-0 border-danger bg-light" data-autohide="false">
    <div class="w-100 toast-capper bg-danger"></div>
    <div class="toast-header">
        <strong class="mr-auto ">Error</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-danger text-center small text-white w-100 mx-0 px-0">
        <div class="row">
            <div class="col">
                {{ message }}
            </div>
        </div>
    </div>
</div>